# Ignore virtual environments
venv/
Lib/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore database files
*.sqlite3

# Ignore static admin files (optional)
static/admin/

# VSCode or other editor settings
.vscode/
.idea/
